body{
    background-color: rgb(223, 241, 132);
}

#root{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.card{
    padding: 2em;
}

.read-the-docs{
    color: #888;
}