body{
    /* background-color: rgb(223, 241, 132); */
    max-height: 100vh;
}

#root{
    max-height: 100vmax;
    max-width: 100vmax;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.card{
    padding: 0.5em;
    margin: 6rem;
}

.read-the-docs{
    color: #888;
}